@import '@/mixins.scss';

.control {
  margin-right: rem(20);

  &:last-child {
    margin-right: 0;
  }
}

.items {
  margin-right: rem(-35);
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin-bottom: rem(30);
  margin-right: rem(35);
}

.itemContent {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  width: rem(184);
  height: rem(184);
  margin-bottom: rem(15);

  &:hover {
    .itemControl {
      z-index: 10;
      opacity: 1;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: rem(184);
  }
}

.itemControl {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  background-color: rgba($gray-6, 0.5);
  @include transition-slow;
}

.itemControlContainer {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  text-align: center;
}
