<template>
  <div>
    <air-lockscreen />
  </div>
</template>
<script>
import AirLockscreen from '@/@airui/system/Auth/Lockscreen'
export default {
  components: {
    AirLockscreen,
  },
}
</script>
