@import '@/mixins.scss';

.footer {
  max-width: rem(1280);
  margin: 0 auto;
  padding: 0 rem(30);
  color: $text;

  @media (max-width: $sm-max-width) {
    padding: 0 rem(16) !important;
  }
}

.footerFullWidth {
  max-width: none;
}

.inner {
  border-top: 1px solid $border;
  padding: rem(30) 0;
}

.logo {
  padding: rem(15) rem(20);
  line-height: 1;
  height: rem(33);
  float: right;
  white-space: nowrap;

  @media (max-width: $sm-max-width) {
    float: none;
  }

  &__letter {
    float: left;
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 0.35714rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: $black;
    border: 4px solid $black;
    padding-bottom: rem(2);
  }

  &__name {
    font-weight: 900;
    color: $black;
    font-size: 21px;
    margin-left: rem(40);
  }

  &__descr {
    color: $gray-4;
    margin-left: rem(40);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
}

.sellpixels {
  color: $black;
  font-size: rem(17);
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 900;

  span {
    display: inline-block;
    height: rem(13);
    width: rem(13);
    background: $black;
    border-radius: 20px;
    margin-left: rem(8);
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
}

// dark theme
[data-kit-theme='dark'] {
  .footer {
    color: $dark-gray-1;
  }

  .inner {
    border-top: 1px solid $dark-gray-4;
  }

  .logo {
    &__letter {
      color: $white;
      border-color: $white;
    }

    &__name {
      color: $white;
    }
  
    &__descr {
      color: $dark-gray-1;
    }
  }

  .sellpixels {
    span {
      background: $dark-gray-1;
    }
  }
}
